* {
    box-sizing: border-box;
}  

/* NAV STYLES */
nav {
    font-size: 20px;
    padding: 5px;
    border-bottom: 2px solid rgb(41, 41, 41);
}

.navBlock {
    
    justify-content:space-evenly;
}

.Links {
    display: flex;
    justify-content: space-evenly;
    
}

nav a {
    text-decoration: none;
    color: rgb(71, 69, 69);
}

nav a:hover {
    color: #548D44;
}

.burger {
    display: none;
    width: 0%;
}

/* Image and Logo Styles */
.img {
    width: 100%; height: 100%
}

.img:hover, .pairImg:hover, .logo:hover, .social:hover {
    animation-name: imgBloom;
    animation-duration: 2s;
}

@keyframes imgBloom {
    from {filter:brightness(100%);}
    to {filter:brightness(140%);}
}

.logo {
    max-height: 185px; 
    max-width: 158px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* BUTTON ANIMATION */
@keyframes btnFilt {
    from {filter:hue-rotate(0deg);}
    to {filter:hue-rotate(360deg);}
}

/* FOOTER STYLES */
.foot {
    background-color: rgb(41, 41, 41);;
    min-height: 300px;
}

.footInf {
    text-align: left;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.social {
    margin: 5px;
    max-width: 35px;
    max-height: 35px;
}

/* Contact Styles */
.map {
    width: 100%;
    height: 100%;
    border:0; display: block; margin: auto; height: 500px; padding: 20px;
}

/* Testimonials styles */
.testim {
    font-size: 15px;
}

/* Modal Styles */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Gallery Styles */
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    background-color: #548D44;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }


@media only screen and (max-width: 800px) {
    nav {
        display: flex;
        width: 100%;
    }

    .navBlock {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        flex-direction: column;
        position: relative;
    }

    .navBlock #navLinks {
        display: none;
        flex-direction: column;
    }
    
    .burger {
        display: flex;
        width: auto;
        padding-right: 5px;
    }

    /* HOME STYLES */
    .info {
        flex-direction: column-reverse;
    }

    .pairImg {
        max-width: 100% !important;
        max-height: 100%;
    }
    

    /* FOOTER STYLES */
    .foot {
        min-height: 300px;
    }

    
.map {
    width: 100%;
    height: 600px;
}

}